{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get install rlwrap
sudo apt-get install pass
pass init {{ .email }}
sudo apt-get install tmux
sudo add-apt-repository -y ppa:greymd/tmux-xpanes
sudo apt update
sudo apt install tmux-xpanes

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# brew install ripgrep
{{ end -}}
